{% extends "base.html" %}
{% block content %}

<h2>Countries</h2>

<table>
    <tr>
        <th> Names</th>
        <th>Edit</th>
        <th>Visited</th>
        <th>Delete</th>
    </tr>
    {% for country in countries %}
    <tr>
   <td><a href="/countries/{{ country.id }}">{{ country.name }}</a></td>

    <td><a href="/countries/{{ country.id }}/edit">Edit</a></td>
    {% if country.visited==True%}
      <td> Visited </td>
      {% endif %}
      {% if country.visited==False%}
      <td>Still to visit</td>
      {% endif %}
    <td><form action="/countries/{{ country.id }}/delete" method="POST">
        <input type="submit" value="Delete"></td>
    </form>
{% endfor %}
</tr>
{% endblock %}
