{% extends 'base.html' %}
{% block content %}

<h1> Destinations </h1>

<ul>
    {% for destination in destinations %}
    <li>
    <p><b>Sights:</b> {{ destination.name }} <br>
      <b>City:</b> {{destination.city.name}}<br>
      {% if destination.visited==True%}
      <p><i> Visited </i></p>
      {% endif %}
      {% if destination.visited==False%}
      <p><i>Still to visit</i></p>
      {% endif %}
    </p>
    <div class="buttons">

        <form class="delete-form" action="/destinations/{{destination.id}}/delete" method="POST">
          <!-- <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button> -->
          <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
    
</ul>

    
  {% endblock %}

