{% extends 'base.html' %}
{% block content %}

<h1> Destinations </h1>
<div class="destinations">
<ul>
    {% for destination in destinations %}
    <li>
    <p>destination name:{{ destination.name }} <br>
      city name:{{destination.city.name}}<br>
      {% if destination.visited==True%}
      <p><i> Visited </i></p>
      {% endif %}
      {% if destination.visited==False%}
      <p><i>Still to visit</i></p>
      {% endif %}
    </p>
    </li>
    {% endfor %}
</ul>

    
  {% endblock %}

