{% extends 'base.html' %}
{% block content %}

<h1> Cities </h1>
<p class="btn--wrapper">
    <a class="btn btn--action" href="/cities/new">New Cities</a>
  </p>
  
  <ul>
    {% for city in cities %}
    <li>
    <p>City name:{{ city.name }} <br>
      Country name:{{city.country.name}}
    </p>
    
      <p>
        <p> <a href= "/cities/{{ city.id }}/edit"> Edit</a></p>
        <form action="/cities/{{ city.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="delete" >
        </form>
      </p>
    </li>
    {% endfor %}
  </ul>
  
  
  {% endblock %}
