{% extends 'base.html' %}
{% block content %}

<h1> Cities </h1>
<p class="btn--wrapper">
    <a class="btn btn--action" href="/cities/new">New Cities</a>
  </p>
  <table>
    <tr>
      <th>City Names</th>
      <th>Country Names</th>
      <th> Visited </th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
    {% for city in cities %}
    <tr>
    <td>{{ city.name }}</td>
    <td>{{city.country.name}}</td>
      {% if city.visited==True%}
       <td>Visited </td>
      {% endif %}
      {% if city.visited==False%}
      <td>Still to visit</td>
      {% endif %}
      
       <td><a href= "/cities/{{ city.id }}/edit"> Edit</a></td>
        <td><form action="/cities/{{ city.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="delete"></td>
        </form>
    {% endfor %}
  </tr>
    </table>
  {% endblock %}
