input[type="submit"] {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    background-color: darkcyan;
  }
form>div{
    width:320px;
    padding :10px;
    border : 5px solid gray;
    margin :0;
    color: violet;
    position: center;
    background-color:turquoise;
    label:10px, 5px, 5px;
  } 


    