input[type="submit"] {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    background-color: darkcyan;
  }
form>div{
    width:320px;
    padding :10px;
    border : 5px solid gray;
    color: violet;
    position: center;
    background-color:turquoise;
    margin-left: 50px;
    margin-right: 50px;
  } 


    