input[type="submit"] {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    background-color: darkcyan;
  }
  form>div{
   justify-content: space-evenly;
  } */

form {
    display:table;
    margin:auto;
    width:50%;
    height:200px;
    font-size: 14pt;
}