.header h1 {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    color:dodgerblue;
}
body {
    background-image: url(./images/tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F6F4F3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
}
h1 {
    color: darkorchid;
}
h2 {
    color: violet;
}
ul>li {
    display: inline-block;
    padding : 5px;
    color:violet;
    border : 1px solid blue;
   background-color:wheat;
   text-align: justify;
   margin : 30px; 
}
ul>li>p>i {
    display : block;
}
